@import url('https://cdn.syncfusion.com/ej2/material.css');

.font-thin { font-weight: 200; }

.font-gray { color: #6b7280; }

.font-red { color: #ef4444; }

.content {
    padding: 0 0 5px 5px;
    max-height: 200px; 
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
  
.content:hover {
    -webkit-mask-position: left top;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    color: #afafaf;
    border: 0px solid #00e5ff;
  }

::-webkit-scrollbar-thumb:hover {
width: 5px;
color: #565656;
border: 0px solid #00e5ff;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    width: 5px;
    background: transparent;
    border-radius: 0px;
} 
