@import url('https://cdn.syncfusion.com/ej2/material.css');

.font-thin { font-weight: 200; }

/* .sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
} */
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(99, 99, 99);
  border-radius: 40px;
  /* border: 4px; */
  border: 3px solid rgb(27, 27, 27);
}

::-webkit-scrollbar-track {
  background-color: rgb(27, 27, 27);
  background-clip: content-box;
  border: 0px solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

.Bookmark_text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 3em;
}

.Bookmark_img{
  /* image flex between */
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.gallery-dark-overlay {
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91%;
  borderRadius: 12;
}

.gallery-image {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  borderRadius: 12;
}

.gallery-arrow {
  position: relative;
  bottom: 45%;
  left: 92%;
  width: 20%;
  height: 15%;
}
